/*CSS ACCUEIL TDB*/
#tdb
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 16px;
	font-family: "Helvetica", sans-serif;
}

/*CSS COM LISTE*/
.bodyliste
{
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 6px;
	border: solid 2px;
	border-radius: 20px;
	border-color: #4D4D4D;
	width: 100%;
}

#centrage
{
	margin-left: 10px;

}
.select
{
	margin-top: 8px;
	margin-left: 29px;
	margin-bottom: 4px;
	padding-left: 20px;
	width: 320px;
	height: 40px;
	color: #29ABE2;
	background-color: black;
	border: solid 2px;
	border-color: #29ABE2;;
	border-radius: 10px;
	outline: none;
	resize: none;
}

.submit
{
	margin-left: 29px;
	background-color: black;
	border-radius: 10px;
	border: solid 2px;
	border-color: #29ABE2; 
	text-align: center;	
	color: #29ABE2;
	overflow: hidden;
	outline: none;
	width: 320px;
	height: 40px;
	
}

.picsize
{
	width: 60px;
	height: 60px;
	opacity: 0.8;
    border-radius: 10px;
    margin-left: 10px;
    overflow: hidden;
}

.tableliste
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	overflow: hidden;
	padding-left: 10px;
}

.btn
{
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border-radius: 10px;
	border: solid 2px;
	border-color: #29ABE2; 
	text-align: center;	
	color: #29ABE2;
	overflow: hidden;
	padding-bottom: 36px;
}

#photo
{
	padding-left: 18px;
}

.stock
{
	text-align: right;
	padding-right: 40px;
}

.titre
{
	color: #29ABE2;
	font-size: 16px;
	font-family: "Helvetica", sans-serif;
}

.titre2
{
	color: #29ABE2;
	font-size: 16px;
	font-family: "Helvetica", sans-serif;
	width: 100px;
}

.texte
{
	color: white;
	font-weight: bold;
}

.btnajout
{
	margin-left: 29px;
	margin-bottom: 8px;
	background-color: black;
	border-radius: 10px;
	border: solid 2px;
	border-color: #29ABE2; 
	text-align: center;	
	color: #29ABE2;
	overflow: hidden;
	padding-bottom: 36px;
	width: 320px;
}


