/*STYLE DU HEADER*/
/*STYLE DU HEADER*/
/*STYLE DU HEADER*/
/*STYLE DU HEADER*/


	.headerback
	{
		background-color: #242424;
	}

	.sansmargin 
	{
		margin: 0px;
	}

	.sanspadding 
	{
		padding: 0px;
	}

	.header
	{
		margin-top: 0px;
		margin-bottom: 0px;
		font-family: "Helvetica", sans-serif;
		
	}
	#logo
	{
		height: 180px;
		width: 400px;
	}

	.header1
	{
		width: 100%;
		background-color: black;
		color: #29ABE2;
	}

	.header1size
	{
		width: 65%;
	}

	.header2size
	{
		float: right;
	}
	
@media screen and (max-width: 1100px)
{
	#logo
	{
		height: 135px;
		width: 300px;
		margin-top: 16;
	}
}

@media screen and (max-width: 925px)
{
	#logo
	{
		height: 108px;
		width: 240px;
		margin-top: 32;
	}
}

@media screen and (max-width: 839px)
{
	#logo
	{
		height: 162px;
		width: 350px;
		margin-top: 20;
	}

	.header1size
	{
		width: 50%;
	}
}

@media screen and (max-width: 675px)
{
	#logo
	{
		height: 135px;
		width: 300px;
		margin-top: 20;
	}

	.header1size
	{
		width: 50%;
	}
}

@media screen and (max-width: 625px)
{
	#logo
	{
		height: 112px;
		width: 250px;
		margin-top: 24;
	}

	.header1size
	{
		width: 50%;
	}
}

@media screen and (max-width: 560px)
{
	#logo
	{
		height: 180px;
		width: 400px;
	}

	.header1size
	{
		width: 100%;
		margin: 10px;
	}

	.header2size
	{
		width: 100%;
		float: left;
	}

}

@media screen and (max-width: 479px)
{
	#logo
	{
		height: 158px;
		width: 350px;
	}

	.header1size
	{
		width: 50%;
	}

	.header2size
	{
		width: 100%;
		float: left;
	}
}





	.buttonsheader
	{
		border: solid 1px;
		border-color: #29ABE2; 
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		width: 280px;
		height: 32px;
		padding-top: 8px;
		padding-bottom: 2px;
		margin-bottom: 8px;
	}

	.searcheader
	{
		background-color: black;
		border: solid 1px;
		border-color: #29ABE2; 
		color: #29ABE2;
		text-align: left;
		font-size: 16px;
		font-weight: bold;
		width: 272px;
		height: 34px;
		padding-top: 8px;
		padding-bottom: 4px;
		padding-left: 8px;
	}

	.searchinput
	{
		background-color: black;
		border: 0px;
		outline: none;
		color: #29ABE2;
		text-align: left;
		font-family: "Helvetica", sans-serif;
		font-size: 17px;
		font-weight: bold;
		width: 200px;
		height: 28px;
		padding-left: 4px;
		
	}

	.searchinput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #29ABE2;
	  font-family: "Helvetica", sans-serif;
	}

	.header3
	{
		width: 100%;
		background-color: black;
		color: white;
		font-size: 20px;
		text-align: center;
		border: solid 1px;
		border-color: #29ABE2; 
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.span
	{
		margin-left: 10px;
		margin-right: 10px;
	}

	
/*STYLE DU BODY*/
/*STYLE DU BODY*/
/*STYLE DU BODY*/
/*STYLE DU BODY*/
body 
{
	min-width:400px;
}

.bodyback
{
	background-image: url(http://127.0.0.1/FilRougeWeb/WebFR/Site/Image/fond.jpg);
	background-size: 100%;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-position: center; 
	

}

.body1
{
	background-color: rgba(172, 172, 172, 0.6);
	margin-top: 6px;
	padding-top: 20px;
	border: solid 2px;
	border-radius: 20px;
	border-color: #4D4D4D;
}

.h2
{
	text-align: center;
	color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

#body1div1
{
	text-align: center;
	color: white;
	font-size: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#body1div2
{
	text-align: center;
	color: #4D4D4D;
	font-size: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.body2
{
	background-color: rgba(172, 172, 172, 0.6);
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 2px;
	border-radius: 20px;
	border-color: #4D4D4D;
	margin-top: 4px;
}

.flex-caption
{
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(75,75,75,0.6);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
  font-size: 14px;
  line-height: 18px;
  border-radius: 0 0 20px 20px;
}

.flex-caption2
{
  width: 90%;
  height: 14%;
  padding: 8px;
  left: 0;
  bottom: 0;
  background: rgba(75,75,75,0.6);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
  font-size: 15px;
  line-height: 18px;
  border-radius: 0 0 20px 20px;
}

.divproduits
{
	width: 96%;
	background-color: white;
	border-radius: 20px 20px 0 0;
	text-align: center;
}

.produits
{
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.titre
{
	font-weight: bold;
}


.prix
{
	color: black;
	font-weight: bold;
}

/*STYLE DU FOOTER*/
/*STYLE DU FOOTER*/
/*STYLE DU FOOTER*/
/*STYLE DU FOOTER*/
.footerback
{
	background-color: #242424;
}

.footer
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Helvetica", sans-serif;	
}

/*STYLE MARQUES POPULAIRES*/
/*STYLE MARQUES POPULAIRES*/
.footer1
{
	background-color: #0B0B0B;
	color: #29ABE2;
	font-family: "Helvetica", sans-serif;
}

.footerlogo
{
	padding-top: 10px;
	padding-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*STYLE FIN DE PAGE*/
/*STYLE FIN DE PAGE*/
.footer2
{
	background-color: #0B0B0B;
	margin-top: 8px;
}

.footercolonne
{
	width: 20%;
	margin-left: 40px;
	padding-top: 20px;
	padding-left: 40px;
	color: #29ABE2;
	font-size: 22px;
	font-family: "Helvetica", sans-serif;
}

@media screen and (max-width: 1475px)
{
	.footercolonne
	{
		margin-left: 10px;
	}
}
@media screen and (max-width: 625px)
{
	.footercolonne
	{
		width: 40%;
	}
}

.footerinfos
{
	padding-top: 20px;
	color: white;
	font-size: 16px;
	font-family: "Helvetica", sans-serif;
}

.private
{
	float: left;
}